/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
    background-image: url("/images/site/small.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}